<a href="https://colab.research.google.com/github/pujangrg1/pujan_INFO5731_Spring2020/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# write your answer here
a = "This is a string"
print(len(a))

16

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
def character_frequency(sampleString):
    result = {}
    count = 0
    for i in sampleString:
        resultKeys = result.keys()    
        if i in resultKeys:
            result[i] += 1
        else:
            result[i] = 1
    return result
print(character_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
# write your answer here
sum = 0
for i in range(5):
    userInput = input("Enter list item: ")
    sum = sum + int(userInput)
print("Sum of list items: ", sum)

Enter list item: 1
Enter list item: 2
Enter list item: 3
Enter list item: 4
Enter list item: 5
Sum of list items:  15

## (4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
lis = []
sampleString= "restart"
for i in sampleString:
    if i in lis:
        if i == 'r':
            lis.append('$')
        else:
            lis.append (i)
    else:
        lis.append (i)
print(''.join(str(i) for i in lis))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
# write your answer here
def solve(firstNumber,secondNumber):
    s = 3.14 * (1+firstNumber/secondNumber)**3
    return s

a= input("Enter a number: ")
b= input("Enter a number: ")

print(solve(int(a),int(b)))

Enter a number: 2
Enter a number: 2
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

finalDiconary = dic1.copy()
finalDiconary.update(dic2)
finalDiconary.update(dic3)
print(finalDiconary)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
# write your answer here
thisTuple = ("White","Black","Red",5)

print (5 in thisTuple)

True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
# write your answer here
sampleSet = {5,4,3,2,10}

print("Maximum value in the set is: ", max(sampleSet))
print("Minimum value in the set is: ", min(sampleSet))

Maximum value in the set is:  10
Minimum value in the set is:  2

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here
student_list = ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940', 'bk0301', 'rak0120', 'rrk0058', 'spk0057',
                'vl0135', 'nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995', 'at0739', 'at0768',
                'mv0299', 'tv0119', 'dy0091']
numberOfStudents = len(student_list)
numberOfGroups = 5
groupCount = 1
while numberOfStudents > 0 and numberOfGroups > 0:
    teams = random.sample(student_list, int(numberOfStudents / numberOfGroups))
    for x in teams:
        student_list.remove(x)
    numberOfStudents -= int(numberOfStudents / numberOfGroups)
    numberOfGroups -= 1
    print("Members in Group ", groupCount,":", teams)
    groupCount += 1

Members in Group  1 : ['dd0420', 'mv0299', 'dy0091', 'ss1995']
Members in Group  2 : ['rs0850', 'nm0547', 'at0768', 'vl0135']
Members in Group  3 : ['snd0097', 'tv0119', 'msp0174', 'pc0353']
Members in Group  4 : ['vmb0067', 'pn0159', 'spk0057', 'at0739', 'rrk0058']
Members in Group  5 : ['sg0940', 'ds0761', 'bk0301', 'yye0005', 'rak0120']